body{
	background-color: #3C131E; 
}
#uno{
	background-color: #504867;
	color: white;
	text-align: center;
}
#dos{
	background-color: #577399;
	color: white;
	text-align: center;
}
#img1{
max-width: 55%;
height: auto;
margin: 20px;
padding: 5px;
display: block;
margin: auto;
}
#img2{
max-width: 55%;
height: auto;
margin: 20px;
padding: 5px;
display: block;
margin: auto;
}